.container {
  max-width: 550px;
  margin: 30px auto;
  background-color: #fff;
  min-height: 650px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* header */

header {
  width: 100%;
  height: 65px;
  background-image: linear-gradient(to right,#672280, #A626D3);
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 10px;
  color: white;
}

.logo{
  width: 32px;
  height: 27px;
}

.title-header {
  font-weight: 600;
  font-size: 22px;
}


/* main */

main {
  padding: 25px 30px;
}

.text-input {
  display: flex;
  font-size: 14px;
  gap:20px;
  
}

input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #a19191ff;
  margin: 6px 0 16px;
}

.form >button {
  padding: 12px 0;
  font-size: 16px;
    background-image: linear-gradient(to right,#672280, #A626D3);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.meme {
  position: relative;
}
.meme > img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 400px;
  object-fit: contain;
  margin-top: 20px;
  
}

.text-top, .text-bot {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-family: 'Impact', sans-serif;
  font-size: 2em;
  color: white;
  letter-spacing: 1px;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.text-top {
  top: 10px;
}
.text-bot {
  bottom: 10px;
}